/* Input and textarea in general */

:focus {
	outline-offset: -1px;
	outline: 2px auto $focus;
}

/* label.inp contains a label and an input */

.inp {
	display: flex;
	font: inherit;
	line-height: 24px;
	margin: 10px 0;
	page-break-inside: avoid;
}
.inp-label {
	padding-right: .5rem;
	display: inline-block;
	min-width: 4.5rem;
	padding-top: 1px;
}
.inp-text {
	flex-basis: 2em;
	flex-grow: 1;
	margin: 0;
	border-radius: 0;
	border: 1px solid transparent;
	border-bottom-color: transparentize($focus, .5);
	padding: 0 5px;
	min-width: 1rem;
	background: none;
	background-image: none;
	font: inherit;
	color: inherit;
	&:focus {
		outline: none;
		border-bottom-color: $focus;
	}
}
.page-header,
.page-footer {
	.inp {
		margin: 3px 0;
	}
	.inp-text {
		border: 1px solid rgba(255, 255, 255, .2);
		&:focus {
			border-color: inherit;
		}
	}
}
.inp-date {
	flex-grow: 0;
	flex-basis: 10em;
}
.inp-select {
	-webkit-appearance: none;
	appearance: none;
	option, optgroup {
		color: black;
	}
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: .6;
}
::-moz-placeholder {
	color: inherit;
	opacity: .6;
}
:-ms-input-placeholder {
	color: inherit;
	opacity: .6;
}
:-moz-placeholder {
	color: inherit;
	opacity: .6;
}

/* Inp spatial */

.inp-spatial-fixed {
	position: absolute;
	z-index: 10;
	left: 1rem;
	right: 1rem;
	bottom: 1rem;
	background: white;
	color: $focus;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.inp-spatial-map {
	height: 400px;
}
.inp-spatial-cancel {
	line-height: 3rem;
	text-align: center;
	cursor: pointer;
}
.opacify-transition {
	transition: opacity 0.3s;
	opacity: 1;
}
.opacify-enter,
.opacify-leave {
	opacity: 0;
}

/* Ref */

.inp-ref {
	position: relative;
  display: inline-block;
}
.inp-ref>input{
	white-space: pre;
	display: inline-block;
	border: 0;
	border-radius: 3px;
	padding: 2px 5px;
	width: 5em;
	font:inherit;
	// background-color: $focus;
	// color: white;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	&:focus, &.focus {
		width: 12em;
		font-size: 14px;
		text-align: left;
	}
}
.ref-select {
  position: absolute;
  z-index: 20;
  top: 100%;
  margin-top: 3px;
  min-width: calc(100% + 6px);
  max-height: 30em;
  background-color: white;
  color: black;
  white-space: normal;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	overflow: auto;
}
.ref-option {
  padding: 0 10px;
  white-space: nowrap;
  line-height: 34px;
  height: 34px;
}
.ref-ghost {
  background-color: #ddd;
}
.ref-temp {
	color: red;
}
