.item-lookup {
	font-size: 14px;
	line-height: 18px;
	max-width: 42rem;
	input {
		min-width: 15em;
		border: 0;
		border-bottom: 1px solid;
	}
	a {
		color: $focus;
	}
}
.item-lookup-text {
	max-width: 42rem;
	padding: 1rem;
	background-color: #eee;
	white-space: pre-wrap;
}
.item-toggle {
	cursor: pointer;
	text-decoration: underline;
	color: #999;
}
