.justsayin {
	display: none;
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	background: #eee;
	font-family: helvetica neue, segoe ui, sans-serif;
}
.container {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 90rem;
}
@media (min-width: 50em) {
	.page-container {
		margin: 0 auto;
		padding: 0 1rem;
		max-width: 50rem;
	}
}
h1 {
	font-size: 1.125em;
	margin-bottom: 1.5em;
}
h2 {
	font-size: 1em;
}
h3 {
	margin-bottom: 0;
	font-size: 1em;
	font-weight: normal;
	text-decoration: underline;
}
nav {
	font-size: 14px;
	margin-left: -.5em;
	text-align: center;
	a {
		display: inline-block;
			color: #bbb;
		text-decoration: none;
		padding: .5em 1.5em;
		&:hover {
		color: $focus;
			background-color: #ddd;
		}
		&.active {
		color: $focus;
			background-color: #ddd;
		}
	}
}
ul {
	line-height: 1.6em;
}

/* Layout > header */

.header {
	padding: 1rem;
	h1 {
		margin: 0;
	}
}

/* JSON model view */

pre {
	white-space: pre-wrap;
}